@use "../variables.scss" as *;
@use "sass:color";

@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: $cursor-pointer;
  display: inline-block;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
  border: none;
}

.btn {
  @include btn;
}

@each $key, $value in $colors {
  .btn-#{$key} {
    @include btn($value);
    &:hover {
      background-color: color.adjust($value, $lightness: 10%);
    }
  }

  .btn-outlined-#{$key} {
    @include btn(#fff);
    border: $base-border-thickness solid $value;
    &:hover {
      background-color: $value;
    }
  }
}

// Regional button styles
// .btn-usa-primary {
//   @include btn($usa-primary);
//   color: white;
//   &:hover {
//     background-color: color.adjust($usa-primary, $lightness: 10%);
//   }
// }

// .btn-usa-secondary {
//   @include btn($usa-secondary);
//   color: white;
//   &:hover {
//     background-color: color.adjust($usa-secondary, $lightness: 10%);
//   }
// }

// .btn-eu-primary {
//   @include btn($eu-primary);
//   color: white;
//   &:hover {
//     background-color: color.adjust($eu-primary, $lightness: 10%);
//   }
// }

// .btn-eu-secondary {
//   @include btn($eu-secondary);
//   color: black;
//   &:hover {
//     background-color: color.adjust($eu-secondary, $lightness: 10%);
//   }
// }
