@use "../variables.scss" as *;
@use "../colors.scss" as *;
@use "sass:map";
@use "sass:color";

@mixin btn($bg-color: 0) {
  text-decoration: none;
  cursor: $cursor-pointer;
  display: inline-block;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  @if $bg-color == 0 {
    background-color: transparent;
  } @else {
    background-color: $bg-color;
  }
  // background-color: $bg-color;
  border: none;
}

.btn {
  @include btn;
}

@each $key, $value in $colors {
  .btn-#{$key} {
    @include btn($value);
    &:hover {
      background-color: color.adjust($value, $lightness: 10%);
    }
  }

  .btn-outlined-#{$key} {
    @include btn(#fff);
    border: $base-border-thickness solid $value;
    padding: $base-padding $base-padding * 1.25;
    &:hover {
      background-color: $value;
    }
  }

  .btn-text-#{$key} {
    @include btn();
    $gray: map.get($colors, "gray");
    color: $value;
    &:hover {
      color: $value;
      // background-color: color.adjust($gray, $lightness: 30%);
      // background-color: $gray;
    }
  }
}
