@use "sass:map";
// VARIABLES

// theme colors

$primary: #bf0a30; // American flag red
$secondary: #002868; // American flag blue
$error: #d32752;
$info: #f6c31c;

// regional colors
$usa-primary: #bf0a30; // American flag red
$usa-secondary: #002868; // American flag blue
$eu-primary: #003399; // European Union flag blue
$eu-secondary: #ffcc00; // European Union flag yellow

// color pallette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "usa-primary": $usa-primary,
  "usa-secondary": $usa-secondary,
  "eu-primary": $eu-primary,
  "eu-secondary": $eu-secondary,
  "blue": #002868,
  "red": #bf0a30,
  "green": #19e635,
  "gray": #808080,
  "black": black,
  "white": white,
);

// @debug map.get($colors, "purple");
// @debug map.has-key($colors, "secondary");
// @debug map.remove($colors, "primary");
// @debug map.merge(
//   $colors,
//   (
//     "pink": #ffc0cb,
//   )
// );

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 8px;

// cursors
$cursor-pointer: pointer;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// line heights
$line-height-sm: 1rem;
$line-height-md: 1.25rem;
$line-height-lg: 1.5rem;
$line-height-xl: 2rem;

// font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
