@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid grey;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 0.25rem;
}

.gap-1 {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.gap-2 > * {
  padding: 0.5rem;
}

.gap-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.gap-3 > * {
  padding: 1rem;
}

.gap-3 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #bf0a30;
}

.text-hover-primary:hover {
  color: #bf0a30;
}

.bg-primary {
  background-color: #bf0a30;
}

.text-primary-light-1 {
  color: rgb(197.4, 34.5, 68.7);
}

.text-hover-primary-light-1:hover {
  color: rgb(197.4, 34.5, 68.7);
}

.bg-primary-light-1 {
  background-color: rgb(197.4, 34.5, 68.7);
}

.text-primary-light-2 {
  color: rgb(203.8, 59, 89.4);
}

.text-hover-primary-light-2:hover {
  color: rgb(203.8, 59, 89.4);
}

.bg-primary-light-2 {
  background-color: rgb(203.8, 59, 89.4);
}

.text-primary-light-3 {
  color: rgb(210.2, 83.5, 110.1);
}

.text-hover-primary-light-3:hover {
  color: rgb(210.2, 83.5, 110.1);
}

.bg-primary-light-3 {
  background-color: rgb(210.2, 83.5, 110.1);
}

.text-primary-light-4 {
  color: rgb(216.6, 108, 130.8);
}

.text-hover-primary-light-4:hover {
  color: rgb(216.6, 108, 130.8);
}

.bg-primary-light-4 {
  background-color: rgb(216.6, 108, 130.8);
}

.text-primary-light-5 {
  color: rgb(223, 132.5, 151.5);
}

.text-hover-primary-light-5:hover {
  color: rgb(223, 132.5, 151.5);
}

.bg-primary-light-5 {
  background-color: rgb(223, 132.5, 151.5);
}

.text-primary-light-6 {
  color: rgb(229.4, 157, 172.2);
}

.text-hover-primary-light-6:hover {
  color: rgb(229.4, 157, 172.2);
}

.bg-primary-light-6 {
  background-color: rgb(229.4, 157, 172.2);
}

.text-primary-light-7 {
  color: rgb(235.8, 181.5, 192.9);
}

.text-hover-primary-light-7:hover {
  color: rgb(235.8, 181.5, 192.9);
}

.bg-primary-light-7 {
  background-color: rgb(235.8, 181.5, 192.9);
}

.text-primary-light-8 {
  color: rgb(242.2, 206, 213.6);
}

.text-hover-primary-light-8:hover {
  color: rgb(242.2, 206, 213.6);
}

.bg-primary-light-8 {
  background-color: rgb(242.2, 206, 213.6);
}

.text-primary-light-9 {
  color: rgb(248.6, 230.5, 234.3);
}

.text-hover-primary-light-9:hover {
  color: rgb(248.6, 230.5, 234.3);
}

.bg-primary-light-9 {
  background-color: rgb(248.6, 230.5, 234.3);
}

.text-primary-dark-1 {
  color: rgb(171.9, 9, 43.2);
}

.text-hover-primary-dark-1:hover {
  color: rgb(171.9, 9, 43.2);
}

.bg-primary-dark-1 {
  background-color: rgb(171.9, 9, 43.2);
}

.text-primary-dark-2 {
  color: rgb(152.8, 8, 38.4);
}

.text-hover-primary-dark-2:hover {
  color: rgb(152.8, 8, 38.4);
}

.bg-primary-dark-2 {
  background-color: rgb(152.8, 8, 38.4);
}

.text-primary-dark-3 {
  color: rgb(133.7, 7, 33.6);
}

.text-hover-primary-dark-3:hover {
  color: rgb(133.7, 7, 33.6);
}

.bg-primary-dark-3 {
  background-color: rgb(133.7, 7, 33.6);
}

.text-primary-dark-4 {
  color: rgb(114.6, 6, 28.8);
}

.text-hover-primary-dark-4:hover {
  color: rgb(114.6, 6, 28.8);
}

.bg-primary-dark-4 {
  background-color: rgb(114.6, 6, 28.8);
}

.text-primary-dark-5 {
  color: rgb(95.5, 5, 24);
}

.text-hover-primary-dark-5:hover {
  color: rgb(95.5, 5, 24);
}

.bg-primary-dark-5 {
  background-color: rgb(95.5, 5, 24);
}

.text-primary-dark-6 {
  color: rgb(76.4, 4, 19.2);
}

.text-hover-primary-dark-6:hover {
  color: rgb(76.4, 4, 19.2);
}

.bg-primary-dark-6 {
  background-color: rgb(76.4, 4, 19.2);
}

.text-primary-dark-7 {
  color: rgb(57.3, 3, 14.4);
}

.text-hover-primary-dark-7:hover {
  color: rgb(57.3, 3, 14.4);
}

.bg-primary-dark-7 {
  background-color: rgb(57.3, 3, 14.4);
}

.text-primary-dark-8 {
  color: rgb(38.2, 2, 9.6);
}

.text-hover-primary-dark-8:hover {
  color: rgb(38.2, 2, 9.6);
}

.bg-primary-dark-8 {
  background-color: rgb(38.2, 2, 9.6);
}

.text-primary-dark-9 {
  color: rgb(19.1, 1, 4.8);
}

.text-hover-primary-dark-9:hover {
  color: rgb(19.1, 1, 4.8);
}

.bg-primary-dark-9 {
  background-color: rgb(19.1, 1, 4.8);
}

.text-secondary {
  color: #002868;
}

.text-hover-secondary:hover {
  color: #002868;
}

.bg-secondary {
  background-color: #002868;
}

.text-secondary-light-1 {
  color: rgb(25.5, 61.5, 119.1);
}

.text-hover-secondary-light-1:hover {
  color: rgb(25.5, 61.5, 119.1);
}

.bg-secondary-light-1 {
  background-color: rgb(25.5, 61.5, 119.1);
}

.text-secondary-light-2 {
  color: rgb(51, 83, 134.2);
}

.text-hover-secondary-light-2:hover {
  color: rgb(51, 83, 134.2);
}

.bg-secondary-light-2 {
  background-color: rgb(51, 83, 134.2);
}

.text-secondary-light-3 {
  color: rgb(76.5, 104.5, 149.3);
}

.text-hover-secondary-light-3:hover {
  color: rgb(76.5, 104.5, 149.3);
}

.bg-secondary-light-3 {
  background-color: rgb(76.5, 104.5, 149.3);
}

.text-secondary-light-4 {
  color: rgb(102, 126, 164.4);
}

.text-hover-secondary-light-4:hover {
  color: rgb(102, 126, 164.4);
}

.bg-secondary-light-4 {
  background-color: rgb(102, 126, 164.4);
}

.text-secondary-light-5 {
  color: rgb(127.5, 147.5, 179.5);
}

.text-hover-secondary-light-5:hover {
  color: rgb(127.5, 147.5, 179.5);
}

.bg-secondary-light-5 {
  background-color: rgb(127.5, 147.5, 179.5);
}

.text-secondary-light-6 {
  color: rgb(153, 169, 194.6);
}

.text-hover-secondary-light-6:hover {
  color: rgb(153, 169, 194.6);
}

.bg-secondary-light-6 {
  background-color: rgb(153, 169, 194.6);
}

.text-secondary-light-7 {
  color: rgb(178.5, 190.5, 209.7);
}

.text-hover-secondary-light-7:hover {
  color: rgb(178.5, 190.5, 209.7);
}

.bg-secondary-light-7 {
  background-color: rgb(178.5, 190.5, 209.7);
}

.text-secondary-light-8 {
  color: rgb(204, 212, 224.8);
}

.text-hover-secondary-light-8:hover {
  color: rgb(204, 212, 224.8);
}

.bg-secondary-light-8 {
  background-color: rgb(204, 212, 224.8);
}

.text-secondary-light-9 {
  color: rgb(229.5, 233.5, 239.9);
}

.text-hover-secondary-light-9:hover {
  color: rgb(229.5, 233.5, 239.9);
}

.bg-secondary-light-9 {
  background-color: rgb(229.5, 233.5, 239.9);
}

.text-secondary-dark-1 {
  color: rgb(0, 36, 93.6);
}

.text-hover-secondary-dark-1:hover {
  color: rgb(0, 36, 93.6);
}

.bg-secondary-dark-1 {
  background-color: rgb(0, 36, 93.6);
}

.text-secondary-dark-2 {
  color: rgb(0, 32, 83.2);
}

.text-hover-secondary-dark-2:hover {
  color: rgb(0, 32, 83.2);
}

.bg-secondary-dark-2 {
  background-color: rgb(0, 32, 83.2);
}

.text-secondary-dark-3 {
  color: rgb(0, 28, 72.8);
}

.text-hover-secondary-dark-3:hover {
  color: rgb(0, 28, 72.8);
}

.bg-secondary-dark-3 {
  background-color: rgb(0, 28, 72.8);
}

.text-secondary-dark-4 {
  color: rgb(0, 24, 62.4);
}

.text-hover-secondary-dark-4:hover {
  color: rgb(0, 24, 62.4);
}

.bg-secondary-dark-4 {
  background-color: rgb(0, 24, 62.4);
}

.text-secondary-dark-5 {
  color: #001434;
}

.text-hover-secondary-dark-5:hover {
  color: #001434;
}

.bg-secondary-dark-5 {
  background-color: #001434;
}

.text-secondary-dark-6 {
  color: rgb(0, 16, 41.6);
}

.text-hover-secondary-dark-6:hover {
  color: rgb(0, 16, 41.6);
}

.bg-secondary-dark-6 {
  background-color: rgb(0, 16, 41.6);
}

.text-secondary-dark-7 {
  color: rgb(0, 12, 31.2);
}

.text-hover-secondary-dark-7:hover {
  color: rgb(0, 12, 31.2);
}

.bg-secondary-dark-7 {
  background-color: rgb(0, 12, 31.2);
}

.text-secondary-dark-8 {
  color: rgb(0, 8, 20.8);
}

.text-hover-secondary-dark-8:hover {
  color: rgb(0, 8, 20.8);
}

.bg-secondary-dark-8 {
  background-color: rgb(0, 8, 20.8);
}

.text-secondary-dark-9 {
  color: rgb(0, 4, 10.4);
}

.text-hover-secondary-dark-9:hover {
  color: rgb(0, 4, 10.4);
}

.bg-secondary-dark-9 {
  background-color: rgb(0, 4, 10.4);
}

.text-error {
  color: #f30540;
}

.text-hover-error:hover {
  color: #f30540;
}

.bg-error {
  background-color: #f30540;
}

.text-error-light-1 {
  color: rgb(244.2, 30, 83.1);
}

.text-hover-error-light-1:hover {
  color: rgb(244.2, 30, 83.1);
}

.bg-error-light-1 {
  background-color: rgb(244.2, 30, 83.1);
}

.text-error-light-2 {
  color: rgb(245.4, 55, 102.2);
}

.text-hover-error-light-2:hover {
  color: rgb(245.4, 55, 102.2);
}

.bg-error-light-2 {
  background-color: rgb(245.4, 55, 102.2);
}

.text-error-light-3 {
  color: rgb(246.6, 80, 121.3);
}

.text-hover-error-light-3:hover {
  color: rgb(246.6, 80, 121.3);
}

.bg-error-light-3 {
  background-color: rgb(246.6, 80, 121.3);
}

.text-error-light-4 {
  color: rgb(247.8, 105, 140.4);
}

.text-hover-error-light-4:hover {
  color: rgb(247.8, 105, 140.4);
}

.bg-error-light-4 {
  background-color: rgb(247.8, 105, 140.4);
}

.text-error-light-5 {
  color: rgb(249, 130, 159.5);
}

.text-hover-error-light-5:hover {
  color: rgb(249, 130, 159.5);
}

.bg-error-light-5 {
  background-color: rgb(249, 130, 159.5);
}

.text-error-light-6 {
  color: rgb(250.2, 155, 178.6);
}

.text-hover-error-light-6:hover {
  color: rgb(250.2, 155, 178.6);
}

.bg-error-light-6 {
  background-color: rgb(250.2, 155, 178.6);
}

.text-error-light-7 {
  color: rgb(251.4, 180, 197.7);
}

.text-hover-error-light-7:hover {
  color: rgb(251.4, 180, 197.7);
}

.bg-error-light-7 {
  background-color: rgb(251.4, 180, 197.7);
}

.text-error-light-8 {
  color: rgb(252.6, 205, 216.8);
}

.text-hover-error-light-8:hover {
  color: rgb(252.6, 205, 216.8);
}

.bg-error-light-8 {
  background-color: rgb(252.6, 205, 216.8);
}

.text-error-light-9 {
  color: rgb(253.8, 230, 235.9);
}

.text-hover-error-light-9:hover {
  color: rgb(253.8, 230, 235.9);
}

.bg-error-light-9 {
  background-color: rgb(253.8, 230, 235.9);
}

.text-error-dark-1 {
  color: rgb(218.7, 4.5, 57.6);
}

.text-hover-error-dark-1:hover {
  color: rgb(218.7, 4.5, 57.6);
}

.bg-error-dark-1 {
  background-color: rgb(218.7, 4.5, 57.6);
}

.text-error-dark-2 {
  color: rgb(194.4, 4, 51.2);
}

.text-hover-error-dark-2:hover {
  color: rgb(194.4, 4, 51.2);
}

.bg-error-dark-2 {
  background-color: rgb(194.4, 4, 51.2);
}

.text-error-dark-3 {
  color: rgb(170.1, 3.5, 44.8);
}

.text-hover-error-dark-3:hover {
  color: rgb(170.1, 3.5, 44.8);
}

.bg-error-dark-3 {
  background-color: rgb(170.1, 3.5, 44.8);
}

.text-error-dark-4 {
  color: rgb(145.8, 3, 38.4);
}

.text-hover-error-dark-4:hover {
  color: rgb(145.8, 3, 38.4);
}

.bg-error-dark-4 {
  background-color: rgb(145.8, 3, 38.4);
}

.text-error-dark-5 {
  color: rgb(121.5, 2.5, 32);
}

.text-hover-error-dark-5:hover {
  color: rgb(121.5, 2.5, 32);
}

.bg-error-dark-5 {
  background-color: rgb(121.5, 2.5, 32);
}

.text-error-dark-6 {
  color: rgb(97.2, 2, 25.6);
}

.text-hover-error-dark-6:hover {
  color: rgb(97.2, 2, 25.6);
}

.bg-error-dark-6 {
  background-color: rgb(97.2, 2, 25.6);
}

.text-error-dark-7 {
  color: rgb(72.9, 1.5, 19.2);
}

.text-hover-error-dark-7:hover {
  color: rgb(72.9, 1.5, 19.2);
}

.bg-error-dark-7 {
  background-color: rgb(72.9, 1.5, 19.2);
}

.text-error-dark-8 {
  color: rgb(48.6, 1, 12.8);
}

.text-hover-error-dark-8:hover {
  color: rgb(48.6, 1, 12.8);
}

.bg-error-dark-8 {
  background-color: rgb(48.6, 1, 12.8);
}

.text-error-dark-9 {
  color: rgb(24.3, 0.5, 6.4);
}

.text-hover-error-dark-9:hover {
  color: rgb(24.3, 0.5, 6.4);
}

.bg-error-dark-9 {
  background-color: rgb(24.3, 0.5, 6.4);
}

.text-info {
  color: #f6c31c;
}

.text-hover-info:hover {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-info-light-1 {
  color: rgb(246.9, 201, 50.7);
}

.text-hover-info-light-1:hover {
  color: rgb(246.9, 201, 50.7);
}

.bg-info-light-1 {
  background-color: rgb(246.9, 201, 50.7);
}

.text-info-light-2 {
  color: rgb(247.8, 207, 73.4);
}

.text-hover-info-light-2:hover {
  color: rgb(247.8, 207, 73.4);
}

.bg-info-light-2 {
  background-color: rgb(247.8, 207, 73.4);
}

.text-info-light-3 {
  color: rgb(248.7, 213, 96.1);
}

.text-hover-info-light-3:hover {
  color: rgb(248.7, 213, 96.1);
}

.bg-info-light-3 {
  background-color: rgb(248.7, 213, 96.1);
}

.text-info-light-4 {
  color: rgb(249.6, 219, 118.8);
}

.text-hover-info-light-4:hover {
  color: rgb(249.6, 219, 118.8);
}

.bg-info-light-4 {
  background-color: rgb(249.6, 219, 118.8);
}

.text-info-light-5 {
  color: rgb(250.5, 225, 141.5);
}

.text-hover-info-light-5:hover {
  color: rgb(250.5, 225, 141.5);
}

.bg-info-light-5 {
  background-color: rgb(250.5, 225, 141.5);
}

.text-info-light-6 {
  color: rgb(251.4, 231, 164.2);
}

.text-hover-info-light-6:hover {
  color: rgb(251.4, 231, 164.2);
}

.bg-info-light-6 {
  background-color: rgb(251.4, 231, 164.2);
}

.text-info-light-7 {
  color: rgb(252.3, 237, 186.9);
}

.text-hover-info-light-7:hover {
  color: rgb(252.3, 237, 186.9);
}

.bg-info-light-7 {
  background-color: rgb(252.3, 237, 186.9);
}

.text-info-light-8 {
  color: rgb(253.2, 243, 209.6);
}

.text-hover-info-light-8:hover {
  color: rgb(253.2, 243, 209.6);
}

.bg-info-light-8 {
  background-color: rgb(253.2, 243, 209.6);
}

.text-info-light-9 {
  color: rgb(254.1, 249, 232.3);
}

.text-hover-info-light-9:hover {
  color: rgb(254.1, 249, 232.3);
}

.bg-info-light-9 {
  background-color: rgb(254.1, 249, 232.3);
}

.text-info-dark-1 {
  color: rgb(221.4, 175.5, 25.2);
}

.text-hover-info-dark-1:hover {
  color: rgb(221.4, 175.5, 25.2);
}

.bg-info-dark-1 {
  background-color: rgb(221.4, 175.5, 25.2);
}

.text-info-dark-2 {
  color: rgb(196.8, 156, 22.4);
}

.text-hover-info-dark-2:hover {
  color: rgb(196.8, 156, 22.4);
}

.bg-info-dark-2 {
  background-color: rgb(196.8, 156, 22.4);
}

.text-info-dark-3 {
  color: rgb(172.2, 136.5, 19.6);
}

.text-hover-info-dark-3:hover {
  color: rgb(172.2, 136.5, 19.6);
}

.bg-info-dark-3 {
  background-color: rgb(172.2, 136.5, 19.6);
}

.text-info-dark-4 {
  color: rgb(147.6, 117, 16.8);
}

.text-hover-info-dark-4:hover {
  color: rgb(147.6, 117, 16.8);
}

.bg-info-dark-4 {
  background-color: rgb(147.6, 117, 16.8);
}

.text-info-dark-5 {
  color: rgb(123, 97.5, 14);
}

.text-hover-info-dark-5:hover {
  color: rgb(123, 97.5, 14);
}

.bg-info-dark-5 {
  background-color: rgb(123, 97.5, 14);
}

.text-info-dark-6 {
  color: rgb(98.4, 78, 11.2);
}

.text-hover-info-dark-6:hover {
  color: rgb(98.4, 78, 11.2);
}

.bg-info-dark-6 {
  background-color: rgb(98.4, 78, 11.2);
}

.text-info-dark-7 {
  color: rgb(73.8, 58.5, 8.4);
}

.text-hover-info-dark-7:hover {
  color: rgb(73.8, 58.5, 8.4);
}

.bg-info-dark-7 {
  background-color: rgb(73.8, 58.5, 8.4);
}

.text-info-dark-8 {
  color: rgb(49.2, 39, 5.6);
}

.text-hover-info-dark-8:hover {
  color: rgb(49.2, 39, 5.6);
}

.bg-info-dark-8 {
  background-color: rgb(49.2, 39, 5.6);
}

.text-info-dark-9 {
  color: rgb(24.6, 19.5, 2.8);
}

.text-hover-info-dark-9:hover {
  color: rgb(24.6, 19.5, 2.8);
}

.bg-info-dark-9 {
  background-color: rgb(24.6, 19.5, 2.8);
}

.text-usa-primary {
  color: #bf0a30;
}

.text-hover-usa-primary:hover {
  color: #bf0a30;
}

.bg-usa-primary {
  background-color: #bf0a30;
}

.text-usa-primary-light-1 {
  color: rgb(197.4, 34.5, 68.7);
}

.text-hover-usa-primary-light-1:hover {
  color: rgb(197.4, 34.5, 68.7);
}

.bg-usa-primary-light-1 {
  background-color: rgb(197.4, 34.5, 68.7);
}

.text-usa-primary-light-2 {
  color: rgb(203.8, 59, 89.4);
}

.text-hover-usa-primary-light-2:hover {
  color: rgb(203.8, 59, 89.4);
}

.bg-usa-primary-light-2 {
  background-color: rgb(203.8, 59, 89.4);
}

.text-usa-primary-light-3 {
  color: rgb(210.2, 83.5, 110.1);
}

.text-hover-usa-primary-light-3:hover {
  color: rgb(210.2, 83.5, 110.1);
}

.bg-usa-primary-light-3 {
  background-color: rgb(210.2, 83.5, 110.1);
}

.text-usa-primary-light-4 {
  color: rgb(216.6, 108, 130.8);
}

.text-hover-usa-primary-light-4:hover {
  color: rgb(216.6, 108, 130.8);
}

.bg-usa-primary-light-4 {
  background-color: rgb(216.6, 108, 130.8);
}

.text-usa-primary-light-5 {
  color: rgb(223, 132.5, 151.5);
}

.text-hover-usa-primary-light-5:hover {
  color: rgb(223, 132.5, 151.5);
}

.bg-usa-primary-light-5 {
  background-color: rgb(223, 132.5, 151.5);
}

.text-usa-primary-light-6 {
  color: rgb(229.4, 157, 172.2);
}

.text-hover-usa-primary-light-6:hover {
  color: rgb(229.4, 157, 172.2);
}

.bg-usa-primary-light-6 {
  background-color: rgb(229.4, 157, 172.2);
}

.text-usa-primary-light-7 {
  color: rgb(235.8, 181.5, 192.9);
}

.text-hover-usa-primary-light-7:hover {
  color: rgb(235.8, 181.5, 192.9);
}

.bg-usa-primary-light-7 {
  background-color: rgb(235.8, 181.5, 192.9);
}

.text-usa-primary-light-8 {
  color: rgb(242.2, 206, 213.6);
}

.text-hover-usa-primary-light-8:hover {
  color: rgb(242.2, 206, 213.6);
}

.bg-usa-primary-light-8 {
  background-color: rgb(242.2, 206, 213.6);
}

.text-usa-primary-light-9 {
  color: rgb(248.6, 230.5, 234.3);
}

.text-hover-usa-primary-light-9:hover {
  color: rgb(248.6, 230.5, 234.3);
}

.bg-usa-primary-light-9 {
  background-color: rgb(248.6, 230.5, 234.3);
}

.text-usa-primary-dark-1 {
  color: rgb(171.9, 9, 43.2);
}

.text-hover-usa-primary-dark-1:hover {
  color: rgb(171.9, 9, 43.2);
}

.bg-usa-primary-dark-1 {
  background-color: rgb(171.9, 9, 43.2);
}

.text-usa-primary-dark-2 {
  color: rgb(152.8, 8, 38.4);
}

.text-hover-usa-primary-dark-2:hover {
  color: rgb(152.8, 8, 38.4);
}

.bg-usa-primary-dark-2 {
  background-color: rgb(152.8, 8, 38.4);
}

.text-usa-primary-dark-3 {
  color: rgb(133.7, 7, 33.6);
}

.text-hover-usa-primary-dark-3:hover {
  color: rgb(133.7, 7, 33.6);
}

.bg-usa-primary-dark-3 {
  background-color: rgb(133.7, 7, 33.6);
}

.text-usa-primary-dark-4 {
  color: rgb(114.6, 6, 28.8);
}

.text-hover-usa-primary-dark-4:hover {
  color: rgb(114.6, 6, 28.8);
}

.bg-usa-primary-dark-4 {
  background-color: rgb(114.6, 6, 28.8);
}

.text-usa-primary-dark-5 {
  color: rgb(95.5, 5, 24);
}

.text-hover-usa-primary-dark-5:hover {
  color: rgb(95.5, 5, 24);
}

.bg-usa-primary-dark-5 {
  background-color: rgb(95.5, 5, 24);
}

.text-usa-primary-dark-6 {
  color: rgb(76.4, 4, 19.2);
}

.text-hover-usa-primary-dark-6:hover {
  color: rgb(76.4, 4, 19.2);
}

.bg-usa-primary-dark-6 {
  background-color: rgb(76.4, 4, 19.2);
}

.text-usa-primary-dark-7 {
  color: rgb(57.3, 3, 14.4);
}

.text-hover-usa-primary-dark-7:hover {
  color: rgb(57.3, 3, 14.4);
}

.bg-usa-primary-dark-7 {
  background-color: rgb(57.3, 3, 14.4);
}

.text-usa-primary-dark-8 {
  color: rgb(38.2, 2, 9.6);
}

.text-hover-usa-primary-dark-8:hover {
  color: rgb(38.2, 2, 9.6);
}

.bg-usa-primary-dark-8 {
  background-color: rgb(38.2, 2, 9.6);
}

.text-usa-primary-dark-9 {
  color: rgb(19.1, 1, 4.8);
}

.text-hover-usa-primary-dark-9:hover {
  color: rgb(19.1, 1, 4.8);
}

.bg-usa-primary-dark-9 {
  background-color: rgb(19.1, 1, 4.8);
}

.text-usa-secondary {
  color: #002868;
}

.text-hover-usa-secondary:hover {
  color: #002868;
}

.bg-usa-secondary {
  background-color: #002868;
}

.text-usa-secondary-light-1 {
  color: rgb(25.5, 61.5, 119.1);
}

.text-hover-usa-secondary-light-1:hover {
  color: rgb(25.5, 61.5, 119.1);
}

.bg-usa-secondary-light-1 {
  background-color: rgb(25.5, 61.5, 119.1);
}

.text-usa-secondary-light-2 {
  color: rgb(51, 83, 134.2);
}

.text-hover-usa-secondary-light-2:hover {
  color: rgb(51, 83, 134.2);
}

.bg-usa-secondary-light-2 {
  background-color: rgb(51, 83, 134.2);
}

.text-usa-secondary-light-3 {
  color: rgb(76.5, 104.5, 149.3);
}

.text-hover-usa-secondary-light-3:hover {
  color: rgb(76.5, 104.5, 149.3);
}

.bg-usa-secondary-light-3 {
  background-color: rgb(76.5, 104.5, 149.3);
}

.text-usa-secondary-light-4 {
  color: rgb(102, 126, 164.4);
}

.text-hover-usa-secondary-light-4:hover {
  color: rgb(102, 126, 164.4);
}

.bg-usa-secondary-light-4 {
  background-color: rgb(102, 126, 164.4);
}

.text-usa-secondary-light-5 {
  color: rgb(127.5, 147.5, 179.5);
}

.text-hover-usa-secondary-light-5:hover {
  color: rgb(127.5, 147.5, 179.5);
}

.bg-usa-secondary-light-5 {
  background-color: rgb(127.5, 147.5, 179.5);
}

.text-usa-secondary-light-6 {
  color: rgb(153, 169, 194.6);
}

.text-hover-usa-secondary-light-6:hover {
  color: rgb(153, 169, 194.6);
}

.bg-usa-secondary-light-6 {
  background-color: rgb(153, 169, 194.6);
}

.text-usa-secondary-light-7 {
  color: rgb(178.5, 190.5, 209.7);
}

.text-hover-usa-secondary-light-7:hover {
  color: rgb(178.5, 190.5, 209.7);
}

.bg-usa-secondary-light-7 {
  background-color: rgb(178.5, 190.5, 209.7);
}

.text-usa-secondary-light-8 {
  color: rgb(204, 212, 224.8);
}

.text-hover-usa-secondary-light-8:hover {
  color: rgb(204, 212, 224.8);
}

.bg-usa-secondary-light-8 {
  background-color: rgb(204, 212, 224.8);
}

.text-usa-secondary-light-9 {
  color: rgb(229.5, 233.5, 239.9);
}

.text-hover-usa-secondary-light-9:hover {
  color: rgb(229.5, 233.5, 239.9);
}

.bg-usa-secondary-light-9 {
  background-color: rgb(229.5, 233.5, 239.9);
}

.text-usa-secondary-dark-1 {
  color: rgb(0, 36, 93.6);
}

.text-hover-usa-secondary-dark-1:hover {
  color: rgb(0, 36, 93.6);
}

.bg-usa-secondary-dark-1 {
  background-color: rgb(0, 36, 93.6);
}

.text-usa-secondary-dark-2 {
  color: rgb(0, 32, 83.2);
}

.text-hover-usa-secondary-dark-2:hover {
  color: rgb(0, 32, 83.2);
}

.bg-usa-secondary-dark-2 {
  background-color: rgb(0, 32, 83.2);
}

.text-usa-secondary-dark-3 {
  color: rgb(0, 28, 72.8);
}

.text-hover-usa-secondary-dark-3:hover {
  color: rgb(0, 28, 72.8);
}

.bg-usa-secondary-dark-3 {
  background-color: rgb(0, 28, 72.8);
}

.text-usa-secondary-dark-4 {
  color: rgb(0, 24, 62.4);
}

.text-hover-usa-secondary-dark-4:hover {
  color: rgb(0, 24, 62.4);
}

.bg-usa-secondary-dark-4 {
  background-color: rgb(0, 24, 62.4);
}

.text-usa-secondary-dark-5 {
  color: #001434;
}

.text-hover-usa-secondary-dark-5:hover {
  color: #001434;
}

.bg-usa-secondary-dark-5 {
  background-color: #001434;
}

.text-usa-secondary-dark-6 {
  color: rgb(0, 16, 41.6);
}

.text-hover-usa-secondary-dark-6:hover {
  color: rgb(0, 16, 41.6);
}

.bg-usa-secondary-dark-6 {
  background-color: rgb(0, 16, 41.6);
}

.text-usa-secondary-dark-7 {
  color: rgb(0, 12, 31.2);
}

.text-hover-usa-secondary-dark-7:hover {
  color: rgb(0, 12, 31.2);
}

.bg-usa-secondary-dark-7 {
  background-color: rgb(0, 12, 31.2);
}

.text-usa-secondary-dark-8 {
  color: rgb(0, 8, 20.8);
}

.text-hover-usa-secondary-dark-8:hover {
  color: rgb(0, 8, 20.8);
}

.bg-usa-secondary-dark-8 {
  background-color: rgb(0, 8, 20.8);
}

.text-usa-secondary-dark-9 {
  color: rgb(0, 4, 10.4);
}

.text-hover-usa-secondary-dark-9:hover {
  color: rgb(0, 4, 10.4);
}

.bg-usa-secondary-dark-9 {
  background-color: rgb(0, 4, 10.4);
}

.text-eu-primary {
  color: #003399;
}

.text-hover-eu-primary:hover {
  color: #003399;
}

.bg-eu-primary {
  background-color: #003399;
}

.text-eu-primary-light-1 {
  color: rgb(25.5, 71.4, 163.2);
}

.text-hover-eu-primary-light-1:hover {
  color: rgb(25.5, 71.4, 163.2);
}

.bg-eu-primary-light-1 {
  background-color: rgb(25.5, 71.4, 163.2);
}

.text-eu-primary-light-2 {
  color: rgb(51, 91.8, 173.4);
}

.text-hover-eu-primary-light-2:hover {
  color: rgb(51, 91.8, 173.4);
}

.bg-eu-primary-light-2 {
  background-color: rgb(51, 91.8, 173.4);
}

.text-eu-primary-light-3 {
  color: rgb(76.5, 112.2, 183.6);
}

.text-hover-eu-primary-light-3:hover {
  color: rgb(76.5, 112.2, 183.6);
}

.bg-eu-primary-light-3 {
  background-color: rgb(76.5, 112.2, 183.6);
}

.text-eu-primary-light-4 {
  color: rgb(102, 132.6, 193.8);
}

.text-hover-eu-primary-light-4:hover {
  color: rgb(102, 132.6, 193.8);
}

.bg-eu-primary-light-4 {
  background-color: rgb(102, 132.6, 193.8);
}

.text-eu-primary-light-5 {
  color: rgb(127.5, 153, 204);
}

.text-hover-eu-primary-light-5:hover {
  color: rgb(127.5, 153, 204);
}

.bg-eu-primary-light-5 {
  background-color: rgb(127.5, 153, 204);
}

.text-eu-primary-light-6 {
  color: rgb(153, 173.4, 214.2);
}

.text-hover-eu-primary-light-6:hover {
  color: rgb(153, 173.4, 214.2);
}

.bg-eu-primary-light-6 {
  background-color: rgb(153, 173.4, 214.2);
}

.text-eu-primary-light-7 {
  color: rgb(178.5, 193.8, 224.4);
}

.text-hover-eu-primary-light-7:hover {
  color: rgb(178.5, 193.8, 224.4);
}

.bg-eu-primary-light-7 {
  background-color: rgb(178.5, 193.8, 224.4);
}

.text-eu-primary-light-8 {
  color: rgb(204, 214.2, 234.6);
}

.text-hover-eu-primary-light-8:hover {
  color: rgb(204, 214.2, 234.6);
}

.bg-eu-primary-light-8 {
  background-color: rgb(204, 214.2, 234.6);
}

.text-eu-primary-light-9 {
  color: rgb(229.5, 234.6, 244.8);
}

.text-hover-eu-primary-light-9:hover {
  color: rgb(229.5, 234.6, 244.8);
}

.bg-eu-primary-light-9 {
  background-color: rgb(229.5, 234.6, 244.8);
}

.text-eu-primary-dark-1 {
  color: rgb(0, 45.9, 137.7);
}

.text-hover-eu-primary-dark-1:hover {
  color: rgb(0, 45.9, 137.7);
}

.bg-eu-primary-dark-1 {
  background-color: rgb(0, 45.9, 137.7);
}

.text-eu-primary-dark-2 {
  color: rgb(0, 40.8, 122.4);
}

.text-hover-eu-primary-dark-2:hover {
  color: rgb(0, 40.8, 122.4);
}

.bg-eu-primary-dark-2 {
  background-color: rgb(0, 40.8, 122.4);
}

.text-eu-primary-dark-3 {
  color: rgb(0, 35.7, 107.1);
}

.text-hover-eu-primary-dark-3:hover {
  color: rgb(0, 35.7, 107.1);
}

.bg-eu-primary-dark-3 {
  background-color: rgb(0, 35.7, 107.1);
}

.text-eu-primary-dark-4 {
  color: rgb(0, 30.6, 91.8);
}

.text-hover-eu-primary-dark-4:hover {
  color: rgb(0, 30.6, 91.8);
}

.bg-eu-primary-dark-4 {
  background-color: rgb(0, 30.6, 91.8);
}

.text-eu-primary-dark-5 {
  color: rgb(0, 25.5, 76.5);
}

.text-hover-eu-primary-dark-5:hover {
  color: rgb(0, 25.5, 76.5);
}

.bg-eu-primary-dark-5 {
  background-color: rgb(0, 25.5, 76.5);
}

.text-eu-primary-dark-6 {
  color: rgb(0, 20.4, 61.2);
}

.text-hover-eu-primary-dark-6:hover {
  color: rgb(0, 20.4, 61.2);
}

.bg-eu-primary-dark-6 {
  background-color: rgb(0, 20.4, 61.2);
}

.text-eu-primary-dark-7 {
  color: rgb(0, 15.3, 45.9);
}

.text-hover-eu-primary-dark-7:hover {
  color: rgb(0, 15.3, 45.9);
}

.bg-eu-primary-dark-7 {
  background-color: rgb(0, 15.3, 45.9);
}

.text-eu-primary-dark-8 {
  color: rgb(0, 10.2, 30.6);
}

.text-hover-eu-primary-dark-8:hover {
  color: rgb(0, 10.2, 30.6);
}

.bg-eu-primary-dark-8 {
  background-color: rgb(0, 10.2, 30.6);
}

.text-eu-primary-dark-9 {
  color: rgb(0, 5.1, 15.3);
}

.text-hover-eu-primary-dark-9:hover {
  color: rgb(0, 5.1, 15.3);
}

.bg-eu-primary-dark-9 {
  background-color: rgb(0, 5.1, 15.3);
}

.text-eu-secondary {
  color: #ffcc00;
}

.text-hover-eu-secondary:hover {
  color: #ffcc00;
}

.bg-eu-secondary {
  background-color: #ffcc00;
}

.text-eu-secondary-light-1 {
  color: rgb(255, 209.1, 25.5);
}

.text-hover-eu-secondary-light-1:hover {
  color: rgb(255, 209.1, 25.5);
}

.bg-eu-secondary-light-1 {
  background-color: rgb(255, 209.1, 25.5);
}

.text-eu-secondary-light-2 {
  color: rgb(255, 214.2, 51);
}

.text-hover-eu-secondary-light-2:hover {
  color: rgb(255, 214.2, 51);
}

.bg-eu-secondary-light-2 {
  background-color: rgb(255, 214.2, 51);
}

.text-eu-secondary-light-3 {
  color: rgb(255, 219.3, 76.5);
}

.text-hover-eu-secondary-light-3:hover {
  color: rgb(255, 219.3, 76.5);
}

.bg-eu-secondary-light-3 {
  background-color: rgb(255, 219.3, 76.5);
}

.text-eu-secondary-light-4 {
  color: rgb(255, 224.4, 102);
}

.text-hover-eu-secondary-light-4:hover {
  color: rgb(255, 224.4, 102);
}

.bg-eu-secondary-light-4 {
  background-color: rgb(255, 224.4, 102);
}

.text-eu-secondary-light-5 {
  color: rgb(255, 229.5, 127.5);
}

.text-hover-eu-secondary-light-5:hover {
  color: rgb(255, 229.5, 127.5);
}

.bg-eu-secondary-light-5 {
  background-color: rgb(255, 229.5, 127.5);
}

.text-eu-secondary-light-6 {
  color: rgb(255, 234.6, 153);
}

.text-hover-eu-secondary-light-6:hover {
  color: rgb(255, 234.6, 153);
}

.bg-eu-secondary-light-6 {
  background-color: rgb(255, 234.6, 153);
}

.text-eu-secondary-light-7 {
  color: rgb(255, 239.7, 178.5);
}

.text-hover-eu-secondary-light-7:hover {
  color: rgb(255, 239.7, 178.5);
}

.bg-eu-secondary-light-7 {
  background-color: rgb(255, 239.7, 178.5);
}

.text-eu-secondary-light-8 {
  color: rgb(255, 244.8, 204);
}

.text-hover-eu-secondary-light-8:hover {
  color: rgb(255, 244.8, 204);
}

.bg-eu-secondary-light-8 {
  background-color: rgb(255, 244.8, 204);
}

.text-eu-secondary-light-9 {
  color: rgb(255, 249.9, 229.5);
}

.text-hover-eu-secondary-light-9:hover {
  color: rgb(255, 249.9, 229.5);
}

.bg-eu-secondary-light-9 {
  background-color: rgb(255, 249.9, 229.5);
}

.text-eu-secondary-dark-1 {
  color: rgb(229.5, 183.6, 0);
}

.text-hover-eu-secondary-dark-1:hover {
  color: rgb(229.5, 183.6, 0);
}

.bg-eu-secondary-dark-1 {
  background-color: rgb(229.5, 183.6, 0);
}

.text-eu-secondary-dark-2 {
  color: rgb(204, 163.2, 0);
}

.text-hover-eu-secondary-dark-2:hover {
  color: rgb(204, 163.2, 0);
}

.bg-eu-secondary-dark-2 {
  background-color: rgb(204, 163.2, 0);
}

.text-eu-secondary-dark-3 {
  color: rgb(178.5, 142.8, 0);
}

.text-hover-eu-secondary-dark-3:hover {
  color: rgb(178.5, 142.8, 0);
}

.bg-eu-secondary-dark-3 {
  background-color: rgb(178.5, 142.8, 0);
}

.text-eu-secondary-dark-4 {
  color: rgb(153, 122.4, 0);
}

.text-hover-eu-secondary-dark-4:hover {
  color: rgb(153, 122.4, 0);
}

.bg-eu-secondary-dark-4 {
  background-color: rgb(153, 122.4, 0);
}

.text-eu-secondary-dark-5 {
  color: rgb(127.5, 102, 0);
}

.text-hover-eu-secondary-dark-5:hover {
  color: rgb(127.5, 102, 0);
}

.bg-eu-secondary-dark-5 {
  background-color: rgb(127.5, 102, 0);
}

.text-eu-secondary-dark-6 {
  color: rgb(102, 81.6, 0);
}

.text-hover-eu-secondary-dark-6:hover {
  color: rgb(102, 81.6, 0);
}

.bg-eu-secondary-dark-6 {
  background-color: rgb(102, 81.6, 0);
}

.text-eu-secondary-dark-7 {
  color: rgb(76.5, 61.2, 0);
}

.text-hover-eu-secondary-dark-7:hover {
  color: rgb(76.5, 61.2, 0);
}

.bg-eu-secondary-dark-7 {
  background-color: rgb(76.5, 61.2, 0);
}

.text-eu-secondary-dark-8 {
  color: rgb(51, 40.8, 0);
}

.text-hover-eu-secondary-dark-8:hover {
  color: rgb(51, 40.8, 0);
}

.bg-eu-secondary-dark-8 {
  background-color: rgb(51, 40.8, 0);
}

.text-eu-secondary-dark-9 {
  color: rgb(25.5, 20.4, 0);
}

.text-hover-eu-secondary-dark-9:hover {
  color: rgb(25.5, 20.4, 0);
}

.bg-eu-secondary-dark-9 {
  background-color: rgb(25.5, 20.4, 0);
}

.text-gray {
  color: #808080;
}

.text-hover-gray:hover {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-gray-light-1 {
  color: rgb(140.7, 140.7, 140.7);
}

.text-hover-gray-light-1:hover {
  color: rgb(140.7, 140.7, 140.7);
}

.bg-gray-light-1 {
  background-color: rgb(140.7, 140.7, 140.7);
}

.text-gray-light-2 {
  color: rgb(153.4, 153.4, 153.4);
}

.text-hover-gray-light-2:hover {
  color: rgb(153.4, 153.4, 153.4);
}

.bg-gray-light-2 {
  background-color: rgb(153.4, 153.4, 153.4);
}

.text-gray-light-3 {
  color: rgb(166.1, 166.1, 166.1);
}

.text-hover-gray-light-3:hover {
  color: rgb(166.1, 166.1, 166.1);
}

.bg-gray-light-3 {
  background-color: rgb(166.1, 166.1, 166.1);
}

.text-gray-light-4 {
  color: rgb(178.8, 178.8, 178.8);
}

.text-hover-gray-light-4:hover {
  color: rgb(178.8, 178.8, 178.8);
}

.bg-gray-light-4 {
  background-color: rgb(178.8, 178.8, 178.8);
}

.text-gray-light-5 {
  color: rgb(191.5, 191.5, 191.5);
}

.text-hover-gray-light-5:hover {
  color: rgb(191.5, 191.5, 191.5);
}

.bg-gray-light-5 {
  background-color: rgb(191.5, 191.5, 191.5);
}

.text-gray-light-6 {
  color: rgb(204.2, 204.2, 204.2);
}

.text-hover-gray-light-6:hover {
  color: rgb(204.2, 204.2, 204.2);
}

.bg-gray-light-6 {
  background-color: rgb(204.2, 204.2, 204.2);
}

.text-gray-light-7 {
  color: rgb(216.9, 216.9, 216.9);
}

.text-hover-gray-light-7:hover {
  color: rgb(216.9, 216.9, 216.9);
}

.bg-gray-light-7 {
  background-color: rgb(216.9, 216.9, 216.9);
}

.text-gray-light-8 {
  color: rgb(229.6, 229.6, 229.6);
}

.text-hover-gray-light-8:hover {
  color: rgb(229.6, 229.6, 229.6);
}

.bg-gray-light-8 {
  background-color: rgb(229.6, 229.6, 229.6);
}

.text-gray-light-9 {
  color: rgb(242.3, 242.3, 242.3);
}

.text-hover-gray-light-9:hover {
  color: rgb(242.3, 242.3, 242.3);
}

.bg-gray-light-9 {
  background-color: rgb(242.3, 242.3, 242.3);
}

.text-gray-dark-1 {
  color: rgb(115.2, 115.2, 115.2);
}

.text-hover-gray-dark-1:hover {
  color: rgb(115.2, 115.2, 115.2);
}

.bg-gray-dark-1 {
  background-color: rgb(115.2, 115.2, 115.2);
}

.text-gray-dark-2 {
  color: rgb(102.4, 102.4, 102.4);
}

.text-hover-gray-dark-2:hover {
  color: rgb(102.4, 102.4, 102.4);
}

.bg-gray-dark-2 {
  background-color: rgb(102.4, 102.4, 102.4);
}

.text-gray-dark-3 {
  color: rgb(89.6, 89.6, 89.6);
}

.text-hover-gray-dark-3:hover {
  color: rgb(89.6, 89.6, 89.6);
}

.bg-gray-dark-3 {
  background-color: rgb(89.6, 89.6, 89.6);
}

.text-gray-dark-4 {
  color: rgb(76.8, 76.8, 76.8);
}

.text-hover-gray-dark-4:hover {
  color: rgb(76.8, 76.8, 76.8);
}

.bg-gray-dark-4 {
  background-color: rgb(76.8, 76.8, 76.8);
}

.text-gray-dark-5 {
  color: #404040;
}

.text-hover-gray-dark-5:hover {
  color: #404040;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.text-gray-dark-6 {
  color: rgb(51.2, 51.2, 51.2);
}

.text-hover-gray-dark-6:hover {
  color: rgb(51.2, 51.2, 51.2);
}

.bg-gray-dark-6 {
  background-color: rgb(51.2, 51.2, 51.2);
}

.text-gray-dark-7 {
  color: rgb(38.4, 38.4, 38.4);
}

.text-hover-gray-dark-7:hover {
  color: rgb(38.4, 38.4, 38.4);
}

.bg-gray-dark-7 {
  background-color: rgb(38.4, 38.4, 38.4);
}

.text-gray-dark-8 {
  color: rgb(25.6, 25.6, 25.6);
}

.text-hover-gray-dark-8:hover {
  color: rgb(25.6, 25.6, 25.6);
}

.bg-gray-dark-8 {
  background-color: rgb(25.6, 25.6, 25.6);
}

.text-gray-dark-9 {
  color: rgb(12.8, 12.8, 12.8);
}

.text-hover-gray-dark-9:hover {
  color: rgb(12.8, 12.8, 12.8);
}

.bg-gray-dark-9 {
  background-color: rgb(12.8, 12.8, 12.8);
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.test-if {
  color: black;
}

.tuey-body {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  color: #333333;
}

.tuey-body-1 {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  color: #333333;
}

.tuey-body-2 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
  color: #333333;
}

.tuey-body-3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  color: #333333;
}

.tuey-body-4 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.75;
  color: #333333;
}

.tuey-body-5 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75;
  color: #333333;
}

.tuey-body-6 {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.2;
  color: #333333;
}

.tuey-body-7 {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  color: #333333;
}

.tuey-body-8 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.75;
  color: #333333;
}

.tuey-body-9 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.2;
  color: #333333;
}

.tuey-body-10 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 2;
  color: #333333;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
  font-weight: bold;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #bf0a30;
  border: none;
}
.btn-primary:hover {
  background-color: rgb(239.4626865672, 12.5373134328, 60.1791044776);
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid #bf0a30;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-primary:hover {
  background-color: #bf0a30;
}

.btn-text-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #bf0a30;
}
.btn-text-primary:hover {
  color: #bf0a30;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #002868;
  border: none;
}
.btn-secondary:hover {
  background-color: rgb(0, 59.6153846154, 155);
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid #002868;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-secondary:hover {
  background-color: #002868;
}

.btn-text-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #002868;
}
.btn-text-secondary:hover {
  color: #002868;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #f30540;
  border: none;
}
.btn-error:hover {
  background-color: rgb(250.7459677419, 48.2540322581, 98.4516129032);
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid #f30540;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-error:hover {
  background-color: #f30540;
}

.btn-text-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #f30540;
}
.btn-text-error:hover {
  color: #f30540;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #f6c31c;
  border: none;
}
.btn-info:hover {
  background-color: rgb(247.9449152542, 207.9661016949, 77.0550847458);
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid #f6c31c;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-info:hover {
  background-color: #f6c31c;
}

.btn-text-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #f6c31c;
}
.btn-text-info:hover {
  color: #f6c31c;
}

.btn-usa-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #bf0a30;
  border: none;
}
.btn-usa-primary:hover {
  background-color: rgb(239.4626865672, 12.5373134328, 60.1791044776);
}

.btn-outlined-usa-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid #bf0a30;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-usa-primary:hover {
  background-color: #bf0a30;
}

.btn-text-usa-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #bf0a30;
}
.btn-text-usa-primary:hover {
  color: #bf0a30;
}

.btn-usa-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #002868;
  border: none;
}
.btn-usa-secondary:hover {
  background-color: rgb(0, 59.6153846154, 155);
}

.btn-outlined-usa-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid #002868;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-usa-secondary:hover {
  background-color: #002868;
}

.btn-text-usa-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #002868;
}
.btn-text-usa-secondary:hover {
  color: #002868;
}

.btn-eu-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #003399;
  border: none;
}
.btn-eu-primary:hover {
  background-color: #0044cc;
}

.btn-outlined-eu-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid #003399;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-eu-primary:hover {
  background-color: #003399;
}

.btn-text-eu-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #003399;
}
.btn-text-eu-primary:hover {
  color: #003399;
}

.btn-eu-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #ffcc00;
  border: none;
}
.btn-eu-secondary:hover {
  background-color: rgb(255, 214.2, 51);
}

.btn-outlined-eu-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid #ffcc00;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-eu-secondary:hover {
  background-color: #ffcc00;
}

.btn-text-eu-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #ffcc00;
}
.btn-text-eu-secondary:hover {
  color: #ffcc00;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #808080;
  border: none;
}
.btn-gray:hover {
  background-color: rgb(153.5, 153.5, 153.5);
}

.btn-outlined-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid #808080;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-gray:hover {
  background-color: #808080;
}

.btn-text-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #808080;
}
.btn-text-gray:hover {
  color: #808080;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: black;
  border: none;
}
.btn-black:hover {
  background-color: rgb(25.5, 25.5, 25.5);
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid black;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-black:hover {
  background-color: black;
}

.btn-text-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: black;
}
.btn-text-black:hover {
  color: black;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: white;
  border: none;
}
.btn-white:hover {
  background-color: hsl(0, 0%, 110%);
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  border: 1px solid white;
  padding: 0.75rem 0.9375rem;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-text-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: white;
}
.btn-text-white:hover {
  color: white;
}

.navbar .container, .navbar-white .container, .navbar-black .container, .navbar-gray .container, .navbar-eu-secondary .container, .navbar-eu-primary .container, .navbar-usa-secondary .container, .navbar-usa-primary .container, .navbar-info .container, .navbar-error .container, .navbar-secondary .container, .navbar-primary .container, .navbar, .navbar-white, .navbar-black, .navbar-gray, .navbar-eu-secondary, .navbar-eu-primary, .navbar-usa-secondary, .navbar-usa-primary, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-white, .navbar-black, .navbar-gray, .navbar-eu-secondary, .navbar-eu-primary, .navbar-usa-secondary, .navbar-usa-primary, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-white .site-title, .navbar-black .site-title, .navbar-gray .site-title, .navbar-eu-secondary .site-title, .navbar-eu-primary .site-title, .navbar-usa-secondary .site-title, .navbar-usa-primary .site-title, .navbar-info .site-title, .navbar-error .site-title, .navbar-secondary .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #bf0a30;
}

.navbar-secondary {
  background-color: #002868;
}

.navbar-error {
  background-color: #f30540;
}

.navbar-info {
  background-color: #f6c31c;
}

.navbar-usa-primary {
  background-color: #bf0a30;
}

.navbar-usa-secondary {
  background-color: #002868;
}

.navbar-eu-primary {
  background-color: #003399;
}

.navbar-eu-secondary {
  background-color: #ffcc00;
}

.navbar-gray {
  background-color: #808080;
}

.navbar-black {
  background-color: black;
}

.navbar-white {
  background-color: white;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 8px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 2px;
}

.br-sm {
  border-radius: 4px;
}

.br-lg {
  border-radius: 16px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}